.container {
  h2 {
    color: #7521ee;
    margin-bottom: 20px;
  }
}

.input {
  border-radius: 5px;
  border: 1px solid #7521ee;
  padding: 10px;
  margin-bottom: 20px;
}

.submit {
  color: #7521ee;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;

  padding: 10px;

  border: 1px solid #7521ee;
}
